{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Brief Description</title>
    <link rel="shortcut icon" type="x"href="{% static 'images/icon.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&family=Albert+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
</head>

<body>
    <div class="landing-container">
        <div class="big-text">Stay informed. Know the</div>
        <div class="big-text">truth.</div>
    </div>
    <div class="buttons-container">
        <a class="landing-button button-top-left" href="{% url 'breaking_news' %}">Breaking News Today</a>
        {% if not request.session.logged_in %}
        <!-- Display the "Login" button if the user is not logged in -->
        <a class="landing-button button-top-right" href="{% url 'login' %}">Login</a>
        <a class="landing-button button-bottom-left" href="{% url 'sign_in' %}">Authenticate</a>
        {% else %}
        <!-- Display the "Logout" button if the user is logged in -->
        <a class="landing-button button-top-right" href="{% url 'logout' %}">Logout</a>
        <a class="landing-button button-bottom-left" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Hehe</a>
        {% endif %}
        <a class="landing-button button-bottom-right" href="{% url 'verify' %}">Verify</a>
    </div>
</body>

</html>
